*{
	font-size:12px;
}
body {
    font-family:verdana,helvetica,arial,sans-serif;
    padding:20px;
    font-size:12px;
    margin:0;
}
h2 {
    font-size:18px;
    font-weight:bold;
    margin:0;
    margin-bottom:15px;
}
a {

	color: 	#000000;
}
a:visited{
	color: 	#000000;
}

table.grid {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #ACD6FF;
	border-collapse: collapse;
}
table.grid th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #ACD6FF;
	background-color: #ECF5FF;
}
table.grid td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #ACD6FF;
	background-color: #ffffff;
}

