<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:transaction="http://www.springframework.org/schema/tx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/task  
		http://www.springframework.org/schema/task/spring-task-3.1.xsd">
	
	<bean id="dataSource" class="com.jolbox.bonecp.BoneCPDataSource"
		destroy-method="close">
		<property name="defaultAutoCommit" value="false" />
		<property name="driverClass" value="${database.driver}" />
		<property name="jdbcUrl" value="${database.url}" />
		<property name="password" value="${database.password}" />
		<property name="username" value="${database.user}" />
		<property name="idleConnectionTestPeriodInSeconds" value="120" />
		<property name="idleMaxAgeInSeconds" value="240" />
		<property name="maxConnectionsPerPartition" value="10" />
		<property name="minConnectionsPerPartition" value="5" />
		<property name="partitionCount" value="5" />
		<property name="acquireIncrement" value="5" />
		<property name="statementsCacheSize" value="100" />
	</bean>
	
	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<!--  <property name="jpaDialect">
			<bean class="org.example.data.ExtendedHibernateJpaDialect" />
		</property>-->
		<property name="jpaVendorAdapter">
			<bean id="hibernateJpaAdapter"
				class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="database" value="MYSQL"></property>
				<property name="databasePlatform" value="org.hibernate.dialect.MySQL5Dialect" />
				<property name="generateDdl" value="true" />
				<property name="showSql" value="false" />
			</bean>
		</property>
		<property name="jpaPropertyMap">
			<map>
				<entry key="hibernate.hbm2ddl.auto" value="update" />
			</map>
		</property>
		<property name="packagesToScan" value="cn.orgid.message.domain.model" />
	</bean>
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>
	<context:annotation-config />
	<aop:aspectj-autoproxy/> 
	<task:scheduler id="myscheduler"  pool-size="50"/>
	<task:annotation-driven  scheduler="myscheduler"/> 
	<jpa:repositories base-package="cn.orgid.message.domain.dao" />
	<context:component-scan base-package="cn.orgid.message.domain" />
	<transaction:annotation-driven
		transaction-manager="transactionManager" />
	<bean class="cn.orgid.common.spring.BeansFactory"></bean>	
	<bean class="cn.orgid.message.domain.server.MessageServer" init-method="startup">
		<property name="port" value="${ws.port}"></property>
		<property name="ssl" value="${ws.ssl}"></property>
		<property name="sslKeyPath" value="${ws.sslKeyPath}"></property>
		<property name="sslKeyPasswd" value="${ws.sslKeyPasswd}"></property>
	</bean>
	
	<bean class="cn.orgid.message.domain.config.Config">
		<property name="uploadFilePath" value="${uploadFilePath}"></property>
		<property name="devMode" value="${dev.mode}"></property>
		<property name="systemInfoPath" value="${systemInfoPath}"></property>
	</bean>
</beans>
